:root {
    --light-red: #ff6464;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 20px;
    padding: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    font-size: 22px;
    display: flex;  
    justify-content: space-between;
}

p { 
    display: inline;
    margin: 3px;
}   

button {
    display: block;
    margin: 8px;
    border-radius: 4px;
    width: 80%;
    height: fit-content;
    font-size: 20px;
    padding: 10px;
    font-weight: 1;
    transition: 200ms;
    box-shadow: 0px 2px;
}

button:active {
    background-color: rgb(209, 209, 209) !important;
    transform: translateY(5px);
    transition: 500ms;
    box-shadow:none;
}

button:hover {
    cursor: pointer;
    background-color: rgb(214, 212, 212);
}

.unit-button {
}

#heroes-list {
    display: flex;
    flex-direction: column ;
    text-align: left;
}


h2 {
    margin: 0px;
}

#left-left {
    padding: 10px;
    width: 25vh;
}

#left {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#gold-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#buttons-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 400px;
    height: 100vh;
}

#equipments-section {
    padding: 20px;
    width: 200px;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.floating-text {
    position: absolute;
    color: rgb(50, 50, 50);
    font-weight: bold;
    pointer-events: none;
    animation: floatUp 1s ease-out forwards;
}

@keyframes floatUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-40px);
        opacity: 0;
    }
}

#stats {
    margin-top:500px;
    font-size: 17px;
    display: flex;  
    flex-direction: column;
    text-align: left;
}

#right {
    width: 250px;
    display: flex;
    flex-direction: column;
}

#top-left-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upgrade::after {
    content: attr(data-tooltip);
    position: absolute;
    top: calc(100% + 4px);
    left: -3px;

    background: #dbdada;
    border: 1px solid grey;
    color: #000000;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 16px;

    white-space: pre-line;
    width: max-content;
    max-width: 220px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    z-index: 999;
}
.upgrade {
    width: 90%;
    position: relative;
}

.upgrade:hover::after {
    opacity: 1;
}

#heroes-section {
    width: 35vh;
    height: 100vh;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding : 20px;
}