body {
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    font-size: 22px;
    display: flex;  
    justify-content: space-between;
    margin: 15px;
    margin-right: 50px;

}

p { 
    display: inline;
    margin: 3px;
}   

button {
    display: block;
    margin: 8px;
    border-radius: 4px;
    width: 100%;
    height: fit-content;
    font-size: 20px;
    padding: 10px;
    font-weight: 1;
}

button:hover {
    cursor: pointer;
    background-color: rgb(229, 228, 228);
}

button[title]:hover::after {
    content: attr(title);
    position: absolute;
    background-color: rgb(218, 218, 218);
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    border: grey solid 2px;
    margin-left: 17px;
    margin-top: 27px;
}

.upgrade {
    display:none;
}

#heroes-list {
    display: flex;
    flex-direction: column ;
}


h2 {
    margin-top: 0px;
}


#left {
    display: flex;
    justify-content: space-between;
}

#stats {
    display: flex;
    flex-direction: row;
}

#buttons-section {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding-left: 20px;
    border-left: 1px solid gray;
}